.book-goal {
  width: 100%;

  height: 100%;

  padding: 60px 20px 20px 20px;

  overflow-y: scroll;

  position: relative;

  display: flex;
}
.book-goal .content {
  width: 100%;
  max-width: 400px;

  height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: end;

  margin: auto;
}

.book-goal .icon {
  height: 40px;
  width: 40px;
  margin-top: auto;
}

.book-goal h1 {
  margin: 20px 0;
  font-size: 35px;
}

.book-goal p {
  font-size: 15px;
  opacity: 0.5;
}

.book-goal .continue_BTN {
  width: 100%;
  max-width: 250px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
  background-color: black;
  border-radius: 10px;

  margin: 50px auto 50px auto;

  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .book-goal .content {
    margin: auto auto 0 auto;
  }
}
