.books_admin {
  width: 100%;
  max-width: 800px;
  height: 100%;

  margin: 0 auto;

  overflow-y: hidden; /* make scroll none when popup is out */
  overflow-x: hidden;

  background-color: var(--main_background_color);

  position: relative;
}
.books_admin .books_content {
  width: 95%;
  height: calc(100% - 50px - 65px);
  overflow: hidden scroll;
  margin: 50px auto 65px;
}
.books_admin .books_content h1 {
  font-size: 32px;
}
.books_admin h1 {
  margin: 10px 0 20px;
}

/* options container */
.books_admin .option_container {
  margin-bottom: 30px;
}
.books_admin .option_container .top {
  width: 100%;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.books_admin .option_container .top span {
  font-weight: bold;
  font-size: 20px;
}
.books_admin .option_container .top .icon {
  width: 20px;
  height: 20px;
  transition: transform 0.4s ease-in;
}
/* global_catagory_styling */
.books_admin .option_container .catagory_container {
  width: 100%;
  height: 100%;
  background-color: white;

  border-radius: 10px;

  padding: 10px 15px;

  box-shadow: 0 0 5px 0 gainsboro;

  overflow: hidden;

  transition: all 0.6s;
}
.books_admin .option_container .catagory_container .catagory {
  width: 100%;
  display: flex;
  align-items: center;

  padding: 10px 0;

  position: relative;
}
.books_admin .option_container .catagory_container .catagory:not(:last-child) {
  border-bottom: 1px solid gainsboro;
}
.books_admin .option_container .catagory_container .catagory .icon {
  width: 35px;
  height: 35px;

  background-color: rgb(228, 228, 228);

  margin-right: 10px;
  padding: 8px;

  border-radius: 5px;
}
.books_admin .option_container .catagory_container .catagory .arrow_icon {
  width: 20px;
  height: 20px;

  padding: unset;
  background-color: unset;
  margin: unset;
}
.books_admin .option_container .catagory_container .catagory span {
  font-size: 18px;
  margin-right: auto;
}
.books_admin .option_container .catagory_container .catagory .num_books {
  margin-left: auto;
  margin-right: 10px;
  opacity: 0.5;
}
.books_admin .option_container .catagory_container .catagory span:last-child {
  margin: unset;
  opacity: 0.5;
}

/* reading now styling */
.books_admin .reading_now .books_container {
  width: 100%;
  overflow-x: scroll;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.books_admin .reading_now .books_container::-webkit-scrollbar {
  display: none;
}
.books_admin .reading_now .books_container .scroll_container {
  width: max-content;
  display: flex;
  align-items: center;
}
.books_admin .reading_now .books_container .scroll_container h1 {
  width: 95vw;
  text-align: center;

  word-wrap: break-word;
}
.books_admin .reading_now .books_container .book {
  width: 110px;
  height: 180px;

  position: relative;
}
.books_admin .reading_now .books_container .book:not(:last-child) {
  margin-right: 10px;
}
.books_admin .reading_now .books_container .book .img {
  width: 100%;
  height: 140px;

  background-color: black;
  border-radius: 10px;
  overflow: hidden;
}
.books_admin .reading_now .books_container .book .img img {
  width: 100%;
  height: 100%;
}
.books_admin .reading_now .books_container .book .pages_left {
  display: block;
  margin: 5px 0;
}
/* tracking bar */
.books_admin .reading_now .books_container .book .bar {
  width: 110px;
  height: 5px;

  border-radius: 10px;

  overflow: hidden;

  background-color: rgb(216, 216, 216);
}
.books_admin .reading_now .books_container .book .bar .fill {
  width: calc(110px * (100 / 250));
  height: 100%;

  border-radius: 10px;

  background-color: rgb(26, 25, 33);
}

/* collections styling */
.books_admin .collections .catagory_container .add_new_collection span {
  margin: unset;
  opacity: 1;
}
.books_admin
  .collections
  .catagory_container
  .add_new_collection
  span:first-child {
  width: 30px;

  font-size: 25px;
  margin-right: 10px;

  text-align: center;
}

.books_admin
  .collections
  .catagory_container
  .add_new_collection
  span:last-child {
  margin: unset;
  opacity: 1;
  font-weight: bold;
}

/* --------------------- */
/* book information popup */
/* --------------------- */

.books_admin .book_info_popup {
  width: 100%;
  height: calc(100% - 65px);

  overflow: hidden scroll;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 99;

  display: block;

  background-color: var(--main_background_color);

  transition: left 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* navbar */
.books_admin .book_info_popup .topbar {
  width: 100%;
  height: fit-content;
  position: sticky;
  top: 0;
  z-index: 1;

  background-color: rgba(14, 14, 14, 0.596);

  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  color: white;
}
/* top bar for popup */
.books_admin .book_info_popup .topbar .top {
  width: 95%;

  display: flex;
  align-items: center;

  margin: 0 auto;
}
.books_admin .book_info_popup .topbar .back_button {
  width: max-content;
  display: flex;
  align-items: center;
}
.books_admin .book_info_popup .topbar .back_button img {
  filter: invert(100%) sepia(58%) saturate(2%) hue-rotate(236deg)
    brightness(108%) contrast(101%);
}
.books_admin .book_info_popup .topbar .top span:nth-child(1) {
  width: 40px;
  text-align: center;
}
.books_admin .book_info_popup .topbar .top .book_tittle {
  width: calc(100% - 135px);

  font-size: 18px;
  font-weight: bold;
  margin-left: 5px;

  text-align: center;
  overflow-x: scroll;
  overflow-y: hidden;
}
.books_admin .book_info_popup .topbar .top .book_tittle span {
  display: block;
  width: max-content;
  font-size: 18px;

  margin: 0 auto;
  padding: 10px 0;
}

.books_admin .book_info_popup .topbar .top span:nth-child(3) {
  width: 30px;
  text-align: center;

  font-size: 25px;

  margin-left: auto;
}

.books_admin .book_info_popup .topbar .top .icon {
  width: 25px;
  height: 25px;
  /* background-color: black; */
}
/* nav container */
.books_admin .book_info_popup .topbar .nav_container {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;

  font-size: 18px;

  list-style: none;

  padding: 10px 0;

  position: relative;
}
.books_admin .book_info_popup .topbar .nav_container .nav_item {
  /* width: calc(100% / 5); */
  text-align: center;
  opacity: 0.5;
}
.books_admin .book_info_popup .topbar .nav_container .active_item {
  opacity: 1;
}
.books_admin .book_info_popup .topbar .nav_container .underline {
  width: 40px;
  position: absolute;
  bottom: 0;
  left: 0;

  height: 3px;

  background-color: white;
}

/* selected book */
.books_admin .book_info_popup .selected_book {
  width: 95%;

  height: calc(100% - 35px - 100px);

  margin: 0 auto 30px;

  display: flex;
  flex-direction: column;
}
.books_admin .book_info_popup .selected_book .img {
  height: 55%;
  max-height: 350px;
  width: 50%;
  max-width: 260px;

  margin: 40px auto 20px;

  border-radius: 10px;
  overflow: hidden;
}
.books_admin .book_info_popup .selected_book .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.books_admin .book_info_popup .selected_book h2 {
  font-size: 25px;
  text-align: center;
}

.books_admin .book_info_popup .selected_book .author_name {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.books_admin .book_info_popup .selected_book .book_options {
  display: flex;

  align-items: center;
  justify-content: center;
  margin: auto 0;
}

.books_admin .book_info_popup .selected_book .book_options .option {
  width: calc(100% / 2);
  text-align: center;
}
.books_admin .book_info_popup .selected_book .book_options .option .icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: black;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto 5px;
}
.books_admin .book_info_popup .selected_book .book_options .option .icon img {
  width: 20px;
  height: 20px;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(23deg)
    brightness(100%) contrast(105%);
}

/* book facts */
.books_admin .book_info_popup .book_facts {
  border-radius: 20px 20px 0 0;

  background-color: black;

  padding: 30px 20px;

  color: white;

  position: relative;
}

.books_admin .book_info_popup .book_facts .facts_container h1 {
  margin: unset;
}
.books_admin .book_info_popup .book_facts .slice {
  height: 5px;
  width: 70px;

  position: absolute;
  top: 10px;
  left: 50%;

  transform: translateX(-50%);

  background-color: gainsboro;

  border-radius: 20px;
}
/* basic info */
.books_admin .book_info_popup .book_facts .basic_infos {
  width: 100%;

  display: flex;
  align-items: center;

  padding-bottom: 20px;

  border-bottom: 1px solid gainsboro;
}
.books_admin .book_info_popup .book_facts .basic_infos .info {
  width: calc(100% / 3);
  text-align: center;
  display: flex;
  flex-direction: column;
}
.books_admin .book_info_popup .book_facts .basic_infos .info span:first-child {
  opacity: 0.5;
  margin-bottom: 10px;
  font-size: 14px;
}

/* cards */
.books_admin .book_info_popup .book_facts .cards {
  margin-bottom: 30px;
}
/* top */
.books_admin .book_info_popup .book_facts .cards .top {
  width: 100%;
  display: flex;
  align-items: center;

  padding: 10px 0;
}
.books_admin .book_info_popup .book_facts .cards .top > *:nth-child(1) {
  margin-right: 5px;
}
.books_admin .book_info_popup .book_facts .cards .top > *:nth-child(2) {
  opacity: 0.5;
  margin-right: auto;
}
.books_admin .book_info_popup .book_facts .cards .top > *:nth-child(3) {
  opacity: 0.5;
}
/* navbar */
.books_admin .book_info_popup .book_facts .cards .scroll_container {
  width: 100%;
  overflow: scroll hidden;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  margin-bottom: 15px;
}

.books_admin
  .book_info_popup
  .book_facts
  .cards
  .scroll_container::-webkit-scrollbar {
  display: none;
}

.books_admin
  .book_info_popup
  .book_facts
  .cards
  .scroll_container
  .nav_container {
  width: max-content;
  list-style: none;
  display: flex;
  align-items: center;
}

.books_admin
  .book_info_popup
  .book_facts
  .cards
  .scroll_container
  .nav_container
  li {
  opacity: 0.5;
  font-size: 15px;
}
.books_admin
  .book_info_popup
  .book_facts
  .cards
  .scroll_container
  .nav_container
  .active_nav {
  opacity: 1;
  background-color: rgb(43, 43, 43);
  padding: 5px 10px;
  border-radius: 10px;
}
.books_admin
  .book_info_popup
  .book_facts
  .cards
  .scroll_container
  .nav_container
  li:not(:last-child) {
  margin-right: 20px;
}
/* cards container */
.books_admin .book_info_popup .book_facts .cards .cards_container {
  width: 100%;
  height: 150px;

  overflow: scroll hidden;
}
/* no cards */
.books_admin .book_info_popup .book_facts .cards .cards_container .no_cards {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgb(43, 43, 43);

  padding: 10px;
  border-radius: 10px;
}
.books_admin
  .book_info_popup
  .book_facts
  .cards
  .cards_container
  .no_cards
  .icon {
  width: 20px;
  height: 20px;
  background-color: white;
  margin-bottom: 5px;
}
.books_admin
  .book_info_popup
  .book_facts
  .cards
  .cards_container
  .no_cards
  span:first-child {
  font-size: 16px;
  margin-bottom: 10px;
}
.books_admin
  .book_info_popup
  .book_facts
  .cards
  .cards_container
  .no_cards
  span:last-child {
  max-width: 80%;

  font-size: 12px;
  opacity: 0.5;

  text-align: center;
}

/* ------------ */
/* stats and trends */
.books_admin .book_info_popup .book_facts .stats_trends {
  margin-bottom: 30px;
}
.books_admin .book_info_popup .book_facts .stats_trends .stats_container {
  background-color: rgb(43, 43, 43);

  padding: 20px;

  border-radius: 20px;
}
/* nav */
.books_admin .book_info_popup .book_facts .stats_trends .stats_container .nav {
  display: flex;
  align-items: center;

  position: relative;
  background-color: rgb(80, 80, 80);

  padding: 5px 10px;
  border-radius: 8px;
  overflow: hidden;

  margin-bottom: 10px;
}
.books_admin
  .book_info_popup
  .book_facts
  .stats_trends
  .stats_container
  .nav
  span {
  display: block;
  width: 50%;
  text-align: center;
  font-size: 16px;
  z-index: 2;
}
.books_admin
  .book_info_popup
  .book_facts
  .stats_trends
  .stats_container
  .nav
  .background {
  height: 100%;
  width: 50%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgb(149, 149, 149);
  border-radius: 8px;
}

/* graph */
.books_admin
  .book_info_popup
  .book_facts
  .stats_trends
  .stats_container
  .graph {
  height: 300px;
  width: 100%;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  color: black;

  margin-bottom: 20px;
}
/* info grid */
.books_admin .book_info_popup .book_facts .stats_trends .stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  width: 100%;
}
.books_admin .book_info_popup .book_facts .stats_trends .stats div {
  display: flex;
  flex-direction: column;
}
.books_admin
  .book_info_popup
  .book_facts
  .stats_trends
  .stats
  span:first-child {
  opacity: 0.5;
  font-size: 16px;
}

/* reading sessions */
.books_admin .book_info_popup .book_facts .reading_sessions {
  margin-bottom: 30px;
}
/* top */
.books_admin .book_info_popup .book_facts .reading_sessions .top {
  display: flex;
  align-items: center;
}
.books_admin .book_info_popup .book_facts .reading_sessions .top h1 {
  margin-right: 10px;
}
.books_admin .book_info_popup .book_facts .reading_sessions .top span {
  opacity: 0.5;
}
/* all readings */
.books_admin
  .book_info_popup
  .book_facts
  .reading_sessions
  .sessions_container {
  background-color: rgb(43, 43, 43);
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
}
.books_admin
  .book_info_popup
  .book_facts
  .reading_sessions
  .sessions_container
  .session {
  display: flex;
  align-items: center;
}
.books_admin
  .book_info_popup
  .book_facts
  .reading_sessions
  .sessions_container
  .session
  > *:nth-child(1) {
  height: 20px;
  width: 20px;
  margin-right: 10px;

  background-color: white;
}
.books_admin
  .book_info_popup
  .book_facts
  .reading_sessions
  .sessions_container
  .session
  > *:nth-child(2) {
  font-size: 16px;
  margin-right: auto;
}
.books_admin
  .book_info_popup
  .book_facts
  .reading_sessions
  .sessions_container
  .session
  > *:nth-child(3) {
  opacity: 0.5;
  margin-right: 5px;
}

.books_admin
  .book_info_popup
  .book_facts
  .reading_sessions
  .sessions_container
  .session
  > *:nth-child(4) {
  opacity: 0.5;
}
/* about */
.books_admin .book_info_popup .book_facts .about .about_container {
  border-radius: 20px;
  padding: 15px;
  background-color: rgb(43, 43, 43);
}

.books_admin .book_info_popup .book_facts .about .about_container .description {
  display: block;
  font-size: 16px;
  padding-bottom: 10px;
}
.books_admin
  .book_info_popup
  .book_facts
  .about
  .about_container
  .grid_information {
  display: grid;
  grid-template-columns: 1fr 1fr;

  border-top: 1px solid rgb(128, 128, 128);
}
.books_admin
  .book_info_popup
  .book_facts
  .about
  .about_container
  .grid_information
  span {
  border-bottom: 1px solid rgb(128, 128, 128);
  padding: 10px 0;
  font-size: 16px;

  display: flex;
  align-items: center;
}
.books_admin
  .book_info_popup
  .book_facts
  .about
  .about_container
  .grid_information
  span:nth-child(2n - 1) {
  color: rgb(128, 128, 128);
}
.books_admin
  .book_info_popup
  .book_facts
  .about
  .about_container
  .grid_information
  span:nth-child(2n) {
  justify-content: end;
  text-align: right;
}

/* buy BTNS */
.books_admin .book_info_popup .book_facts .buy_CTA {
  width: 100%;
  height: 40px;

  line-height: 40px;
  text-align: center;

  background-color: white;
  color: black;

  display: block;

  margin-top: 20px;

  border-radius: 10px;
}

/* ---------------------- */
/* filtered books popup */
/* ---------------------- */

.books_admin .filtered_books_page {
  width: 100%;
  height: calc(100% - 65px);
  overflow: hidden scroll;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 99;
  display: block;
  background-color: var(--main_background_color);
  transition: left 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* top */
.books_admin .filtered_books_page .top {
  padding: 10px 2.5%;
  display: flex;
  align-items: center;
}
.books_admin .filtered_books_page .top .icon {
  width: 25px;
  height: 25px;
}
.books_admin .filtered_books_page .top .back_container {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.books_admin .filtered_books_page .top span:nth-child(2) {
  margin-right: 20px;
  font-size: 20px;
}
.books_admin .filtered_books_page h1 {
  padding: 0 2.5%;
  font-size: 35px;
}
.books_admin .filtered_books_page input {
  border: unset;
  width: 95%;
  margin: 0 2.5% 20px;
  padding: 8px;

  border-radius: 10px;
}

.books_admin .filtered_books_page .filter_container {
  width: 95%;
  margin: 0 auto 20px;
  display: flex;
  justify-content: space-between;
}
.books_admin .filtered_books_page .filter_container span {
  opacity: 0.5;
  text-transform: uppercase;
}
/* sort */
.books_admin .filtered_books_page .filter_container .sort {
  position: relative;
}
.books_admin .filtered_books_page .filter_container .text_container {
  display: flex;
  align-items: center;
}
.books_admin .filtered_books_page .filter_container .sort .icon {
  width: 15px;
  height: 15px;
  margin-left: 10px;
}
.books_admin .filtered_books_page .filter_container .sort span {
  opacity: 1;
}

/* book */
.books_admin .filtered_books_page .books_container {
  width: 100%;
  height: calc(100% - 213px);
}
.books_admin .filtered_books_page .books_container .book {
  width: 95%;
  padding: 10px 0;

  display: flex;
  align-items: center;

  margin: 0 auto;

  position: relative;
}
.books_admin .filtered_books_page .books_container .book:not(:last-child) {
  border-bottom: 1px solid gainsboro;
}
.books_admin .filtered_books_page .books_container .book .cover_img {
  height: 90px;
  width: 70px;

  overflow: hidden;
  border-radius: 10px;

  margin-right: 10px;
}
.books_admin .filtered_books_page .books_container .book .cover_img img {
  height: 100%;
  width: 100%;

  object-fit: cover;
  object-position: center;
}
.books_admin .filtered_books_page .books_container .book .info_container {
  display: flex;
  flex-direction: column;

  margin-right: auto;

  width: calc(100% - 110px);
}
.books_admin
  .filtered_books_page
  .books_container
  .book
  .info_container
  span:first-child {
  font-weight: bold;
}
.books_admin
  .filtered_books_page
  .books_container
  .book
  .info_container
  span:nth-child(2) {
  opacity: 0.5;
  text-align: left;
}
.books_admin
  .filtered_books_page
  .books_container
  .book
  .info_container
  .progress_container {
  width: 100%;

  display: flex;
  align-items: center;

  margin-top: 10px;
}
.books_admin
  .filtered_books_page
  .books_container
  .book
  .info_container
  .progress_bar {
  width: 100px;
  height: 5px;

  background-color: rgb(219, 219, 219);

  position: relative;

  margin: 0 10px 0 0;

  border-radius: 10px;
}
.books_admin
  .filtered_books_page
  .books_container
  .book
  .info_container
  .progress_bar
  .fill {
  width: 10%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  border-radius: 10px;

  background-color: black;
}
.books_admin
  .filtered_books_page
  .books_container
  .book
  .info_container
  .progress_container
  span {
  font-size: 15px;
}
.books_admin .filtered_books_page .books_container .book .icon {
  height: 15px;
  width: 15px;
}
/* is empty container */
.books_admin .filtered_books_page .books_container .is_empty_container {
  position: relative;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  margin: auto;
}
.books_admin .filtered_books_page .books_container .is_empty_container .icon {
  height: 30px;
  width: 30px;

  margin: 0 auto 20px;
}
.books_admin
  .filtered_books_page
  .books_container
  .is_empty_container
  span:nth-child(2) {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
.books_admin
  .filtered_books_page
  .books_container
  .is_empty_container
  span:nth-child(3) {
  font-size: 16px;
  opacity: 0.5;
  text-align: center;
  margin-bottom: 20px;
}
.books_admin
  .filtered_books_page
  .books_container
  .is_empty_container
  span:nth-child(4) {
  width: 100%;
  max-width: 300px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: white;
  background-color: black;
  border-radius: 10px;

  margin: 0 auto;
}

/* CHANGING LOAD START LIBRARY STYING FOR BOOKS PAGE */
.books_admin .start_library {
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 99;

  background-color: var(--main_background_color);

  transition: left 0.6s;
}
.books_admin .start_library h1 {
  margin: unset;
}
