.stats_admin {
  width: 100%;
  height: 100%;

  margin: 0 auto;

  background-color: var(--main_background_color);

  position: relative;
}
.stats_admin .stats_content {
  width: 95%;
  height: calc(100% - 130px);

  overflow-y: scroll;
  overflow-x: hidden;

  margin: 65px auto 65px;
}
.stats_admin h1 {
  font-size: 35px;
  margin: 10px 0 20px;
}
.stats_admin h2 {
  font-size: 25px;
  margin: 10px 0;
}
/* stats container */
.stats_admin .stats_content .stats_container {
  margin-bottom: 20px;
}
.stats_admin .stats_content .stats_container .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* stats card */
.stats_admin .stats_content .stats_container .stats_cards .card {
  background-color: white;
  margin: 10px 0;

  border-radius: 15px;

  padding: 20px;
}
.stats_admin .stats_content .stats_container .stats_cards .card .top {
  justify-content: start;
  align-items: center;
}
.stats_admin .stats_content .stats_container .stats_cards .card .flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* goals */
.stats_admin .stats_content .stats_container .goal_cards .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stats_admin .stats_content .stats_container .goal_cards .card .top .icon {
  width: 25px;
  height: 25px;

  margin-right: 10px;
}
.stats_admin .stats_content .stats_container .goal_cards .card .top span {
  opacity: 0.5;
}
.stats_admin
  .stats_content
  .stats_container
  .goal_cards
  .card
  .top
  span:not(:last-child) {
  margin-right: auto;
}
.stats_admin .stats_content .stats_container .goal_cards .card .goal {
  display: block;
  margin: 20px 0;

  font-size: 30px;
}
.stats_admin .stats_content .stats_container .goal_cards .card .icon {
  width: 25px;
  height: 25px;
}
.stats_admin .stats_content .stats_container .goal_cards .card .bar {
  width: 100%;
  height: 5px;
  background-color: rgb(139, 139, 139);

  position: relative;

  border-radius: 10px;

  margin: 10px 0;
}
.stats_admin .stats_content .stats_container .goal_cards .card .bar .fill {
  width: 30%;
  height: 5px;
  background-color: rgb(46, 46, 46);

  position: absolute;

  top: 0;
  left: 0;
}
.stats_admin .stats_content .stats_container .goal_cards .card .message {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid gainsboro;
}
.stats_admin .stats_content .stats_container .goal_cards .card .message span {
  width: calc(100% - 45px);
  opacity: 0.5;
}

/* trends */
.stats_admin .stats_content .stats_container .trends_cards .graph {
  width: 100%;
  height: 300px;

  margin: 30px 0;

  background-color: black;
}
.stats_admin .stats_content .stats_container .trends_cards .content_card {
  display: flex;
}

.stats_admin
  .stats_content
  .stats_container
  .trends_cards
  .card
  .content_container {
  width: calc(100% - 35px);
  display: flex;
  flex-direction: column;
}
.stats_admin
  .stats_content
  .stats_container
  .trends_cards
  .card
  .content_container
  div {
  display: flex;
  align-items: center;
}

.stats_admin
  .stats_content
  .stats_container
  .trends_cards
  .card
  .content_container
  span
  b {
  color: black;
}
.stats_admin .stats_content .stats_container .trends_cards .icon {
  width: 20px;
  height: 20px;

  margin-right: 10px;
}
