.reminder {
  width: 100%;

  height: 100%;

  padding: 60px 20px 20px 20px;

  overflow-y: scroll;

  position: relative;

  display: flex;
}
.reminder .content {
  width: 100%;
  max-width: 400px;

  height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: end;

  margin: auto;
}

.reminder .icon {
  height: 40px;
  width: 40px;
  margin-top: auto;
}

.reminder h1 {
  margin: 20px 0;
  font-size: 35px;
}

.reminder p {
  font-size: 15px;
  opacity: 0.5;
}

.reminder .days-component {
  width: 100%;

  display: flex;
  flex-direction: column;
}
.reminder .days-component .days-selector {
  width: 100%;
  max-width: 320px;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reminder .days-component .days-selector .day {
  width: max-content;

  padding: 15px 12px;
  border-radius: 10px;
  color: white;
  background-color: black;

  cursor: pointer;
}
.reminder .days-component .days-selector .active-day {
  color: black;
  background-color: rgb(174, 174, 174);
}

.reminder .notification {
  width: 100%;
  display: flex;
  align-items: center;

  border-radius: 12px;

  padding: 10px;

  margin: 50px auto 0;
}
.reminder .notification .time_selector {
  width: max-content;

  padding: 10px;
  border-radius: 10px;

  background-color: #dbdbdb;
  margin-left: auto;
  font-size: 15px;
}
.reminder .notification .icon {
  height: 20px;
  width: 20px;

  margin: 0 15px 0 0;
}

.reminder .continue_BTN {
  width: 100%;

  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
  background-color: black;
  border-radius: 10px;

  margin: 0 auto 50px auto;

  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .reminder .content {
    margin: auto auto 0 auto;
  }
}
